[Unit]
Description=BupaMon
Requires=network-online.target
After=network-online.target consul.service

[Service]
Type=idle
User=root
Group=root
WorkingDirectory=/srv/bupamon
PIDFile=/var/run/bupamon.pid
ExecStart=/srv/bupamon/bupamon
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
